<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="/public/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <title>Justifier un texte</title>
  <link
  rel="stylesheet"
  href="https://unpkg.com/xp.css"
>
</head>
<body>
 
  <header id="header" class="title-bar"><h1>Text Justifier <span style="font-size:19px;">2000's edition</span></h1></header>
  <main>
    <div id="form_container">
      <form   id="form-justify" name="form-justify">
      <label for="text" name="label">Entrez le texte à justifier</label>
      <textarea placeholder="HTML est un langage de programmation" name="text"></textarea>          <button type="button"  id="submitBtn">Justifier !</button>
        </form>
        
</div>
   


  </main>

<div id="overlay">
<div class="window"  id="windowxp">
  <div class="title-bar">
    <div class="title-bar-text">Le texte justifié, enfin j'espere, ne poussez pas mon algorithme à bout s'il vous plait</div>
    <div class="title-bar-controls">

      <button aria-label="Close"></button>
    </div>
  </div>
  <a type="button" id="copyIcon">
 <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-clipboard-minus" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M5.5 9.5A.5.5 0 0 1 6 9h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
</svg></a>
</svg>
  <div class="window-body" id="overlayContent"></div>
</div>

</div>
</body>
<script src="/public/script.js" </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>


</html>