*{
  margin:0;
  padding:0;
}

#header{
background-color:rgb(211, 211, 211);
border-bottom:1px solid black;
width:100vw;
display: flex;
align-items:center;
height:100px;
padding:auto;
color:white; 
}
#header>h1{
  margin:auto;
}
#form-justify{
  display: flex;
  flex-direction:column;
  margin:25%;
  margin-top:20px;
  margin-bottom:0px;
  
}
#form-justify>textarea{
  height:50vh;
  border-radius:5px;
  border:1px solid black;
}
#form-justify>label{
  font-size:14px;
}
#overlay{
  display:none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  top:0;
  width:100vw;
  height:100vh;
  font-family:monospace;
 z-index:998;
}
#overlayContent{

 display: flex;
 justify-content:center;

}
#overlayContent>p{
margin:30px;
font-size:20px;
}
#windowxp{
  width:70vw;
  margin:auto;
  margin-top:10vh;
}
#submitBtn{
  margin-top:20px;
  height:40px;
}
#copyIcon{
  float:right;
  margin:10px;
  color:black;
  opacity:0.7;
  border-radius:5px;
  width:50px;
  height:50px;
  display: flex;
  justify-content:center;
  align-items:center;
  border:1px solid grey;
}